body {
    font-family: Arial, sans-serif;
}

.faq-container {
    width: 80%;
    margin: auto;
    max-width: 800px;
}

#faq-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
}
